@using MassMailWeb.Helpers

<head>
	<title>Histórico</title>
	<link rel="stylesheet" href="~/Styles/History.css" />
</head>

<div class="table bg-white rounded border" style="overflow-y: scroll; height: 70%; width: 80%;">
	<table id="history-table">
		<tr class="text-center">
			<td>From</td>
			<td>To</td>
			<td>Subject</td>
			<td>Body</td>
			<td>When</td>
		</tr>
		@foreach (var email in Model)
		{
			<tr class="text-center">
				<td>@email.From</td>
				<td>@email.To</td>
				<td>@email.Subject</td>
				<td>@email.Body</td>
				<td>@email.When</td>
			</tr>
		}
	</table>
</div>
